version: 2

install_elixir: &install_elixir
  run:
    name: Install Elixir
    command: |
      wget https://repo.hex.pm/builds/elixir/v$ELIXIR_VERSION.zip
      unzip -d /usr/local/elixir v$ELIXIR_VERSION.zip
      echo 'export PATH=/usr/local/elixir/bin:$PATH' >> $BASH_ENV

install_hex: &install_hex
  run:
    name: Install hex
    command: |
      mix local.hex --force

install_system_deps: &install_system_deps
  run:
    name: Install system dependencies
    command: |
      apt update
      apt install -y unzip astyle libmnl-dev

defaults: &defaults
  working_directory: ~/repo

jobs:
  build_elixir_1_12_otp_24:
    docker:
      - image: erlang:24.0
        environment:
          ELIXIR_VERSION: 1.12.1-otp-24
          LC_ALL: C.UTF-8
          SUDO: true
    <<: *defaults
    steps:
      - checkout
      - <<: *install_system_deps
      - <<: *install_elixir
      - <<: *install_hex
      - restore_cache:
          keys:
            - v1-mix-cache-{{ checksum "mix.lock" }}
      - run: mix deps.get
      - run: mix format --check-formatted
      - run: mix deps.unlock --check-unused
      - run: mix docs
      - run: mix hex.build
      - run: mix test
      - run: mix credo -a
      - run: mix dialyzer
      - save_cache:
          key: v1-mix-cache-{{ checksum "mix.lock" }}
          paths:
            - _build
            - deps

  build_elixir_1_11_otp_23:
    docker:
      - image: erlang:23.3
        environment:
          ELIXIR_VERSION: 1.11.4-otp-23
          LC_ALL: C.UTF-8
          SUDO: true
    <<: *defaults
    steps:
      - checkout
      - <<: *install_system_deps
      - <<: *install_elixir
      - <<: *install_hex
      - run: mix deps.get
      - run: mix test

  build_elixir_1_10_otp_22:
    docker:
      - image: erlang:22.3.4.1
        environment:
          ELIXIR_VERSION: 1.10.3-otp-22
          LC_ALL: C.UTF-8
          SUDO: true
    <<: *defaults
    steps:
      - checkout
      - <<: *install_system_deps
      - <<: *install_elixir
      - <<: *install_hex
      - run: mix deps.get
      - run: mix test

  build_elixir_1_9_otp_22:
    docker:
      - image: erlang:22.2.8
        environment:
          ELIXIR_VERSION: 1.9.4-otp-22
          LC_ALL: C.UTF-8
          SUDO: true
    <<: *defaults
    steps:
      - checkout
      - <<: *install_system_deps
      - <<: *install_elixir
      - <<: *install_hex
      - run: mix deps.get
      - run: mix test

  build_elixir_1_8_otp_21:
    docker:
      - image: erlang:21.3
        environment:
          ELIXIR_VERSION: 1.8.2-otp-21
          LC_ALL: C.UTF-8
          SUDO: true
    <<: *defaults
    steps:
      - checkout
      - <<: *install_system_deps
      - <<: *install_elixir
      - <<: *install_hex
      - run: mix deps.get
      - run: mix test

  build_elixir_1_7_otp_21:
    docker:
      - image: erlang:21.3
        environment:
          ELIXIR_VERSION: 1.7.4-otp-21
          LC_ALL: C.UTF-8
          SUDO: true
    <<: *defaults
    steps:
      - checkout
      - <<: *install_system_deps
      - <<: *install_elixir
      - <<: *install_hex
      - run: mix deps.get
      - run: mix test

  build_elixir_1_6_otp_21:
    docker:
      - image: erlang:21.3
        environment:
          ELIXIR_VERSION: 1.6.6-otp-21
          LC_ALL: C.UTF-8
          SUDO: true
    <<: *defaults
    steps:
      - checkout
      - <<: *install_system_deps
      - <<: *install_elixir
      - <<: *install_hex
      - run: mix deps.get
      - run: mix test

workflows:
  version: 2
  build_test:
    jobs:
      - build_elixir_1_12_otp_24
      - build_elixir_1_11_otp_23
      - build_elixir_1_10_otp_22
      - build_elixir_1_9_otp_22
      - build_elixir_1_8_otp_21
      - build_elixir_1_7_otp_21
      - build_elixir_1_6_otp_21
